# Môi trường ảo Python
.venv/
venv/
env/

# File tạm của Python
__pycache__/
*.py[cod]
*$py.class

# File cấu hình IDE cục bộ
.vscode/

# Dữ liệu thu thập và log chạy thử
*.csv
*.log

# Bỏ qua media nặng
*.mp4
*.jpg
*.png

# Bỏ qua tài liệu tham khảo và thư mục clone ngoài (Tránh vi phạm bản quyền & Submodule conflict)
*.pdf
science_articles/
